body {
    background-color: linen;
    background-image: url("https://thumbs.dreamstime.com/z/wallet-euro-bills-there-some-banknotes-money-scarce-new-poverty-34426704.jpg");
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100vh;
    font-family: 'Noto Sans', sans-serif;
}


h1 {
    color: greenyellow;
    text-align: left;
    font-family: "Roboto Thin", sans-serif;
    font-size: 50px;
}


h3 {
    color: greenyellow;
    text-align: left;
    font-family: "Roboto Thin", sans-serif;
    font-size: 38px;
}
#user-first-name{
    font-size: 25px;

}
#user-last-name{
    margin-top: 10px;
    font-size: 25px;
}

#balance {
    font-size: 25px;
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
}
.fa-euro-sign{
    color: gold;
    font-size: 35px;
}

#buttons{
    font-size: 25px;




}

